.banner {
    img {
        height: 35vh;
        object-fit: cover;
        width: 100%;
        transform: scaleY(1.2);
    }
    &.is-small {
        img {
            height: 25vh;
        }
    }
}

.thumbnail-preview {
    max-height: 35vh;
    object-fit: cover;
    width: 100%;
    object-position: 100% 30%;
    min-height: 230px;
}