.button {
    border-radius: 0;
    text-transform: uppercase;
    transition: 300ms;
    border: none;
    outline: none;
    &.is-fixed {
        position: fixed;
        bottom: 0px;
        right: 15px;
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
        border-radius: 30px;
        z-index: 99;
        &.aside {
            right: 75px;
        }
    }
    &.is-primary {
        background-color: $primary;
        color: $white;
        box-shadow: 1px 3px 5px $muted;
        &:hover {
            transition: 100ms;
            background: $light-primary;
        }
    }
    &.is-white {
        background-color: $white;
        color: $primary;
        &:hover {
            transition: 100ms;
            letter-spacing: 0.2px;
        }
    }
}