.columns {
    &.has-padding-30 {
        .column {
            padding: 30px;
        }
    }
    &.has-lateral-padding-30 {
        >.column:not(:first-child) {
            padding-left: 30px;
        }
        >.column:not(:last-child) {
            padding-right: 30px;
        }
    }
    &.has-lateral-padding-45 {
        >.column:not(:first-child) {
            padding-left: 45px;
        }
        >.column:not(:last-child) {
            padding-right: 45px;
        }
    }
}

@media only screen and (min-width: 1088px) {
    .container {
        max-width: 1000px !important;
    }
}
@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1152px !important;
    }
}