.modal {
    z-index: $modal-z-index;
    .modal-content.is-large {
        width: 70%;
    }
    @media only screen and (max-width:1088px) {
        .modal-content.is-large {
            width: 90%;
        }
    }
}