table.table {
    border: 1px solid #EBEBEB;
    .is-address {
        padding-left: 32px;
        i {
            color: #DD4B3E;
        }
    }
    .is-file {
        padding-left: 36px;
        i {
            color: #459EC7;
        }
    }
    .status {
        transform: translateY(1px);
        margin-right: 5px;
        &.is-active {
            color: $success;
        }
    }
    th {
        color: $white !important;
        background: $primary;
        font-size:1.22rem;
        font-weight: 100;
    }
    tr {
        color:$muted;
        &:hover {
            td {
                background:$light-primary;
                color:#FFFFFF;
                border-top: 1px solid #22262e;
                transition: 50ms;
                a {
                    background:$light-primary;
                    color:#FFFFFF;
                    transition: 50ms;
                }
            }
        }
        &:nth-child(odd) {
            td {
                background:#EBEBEB;
            }
            &:hover td {
                background:$light-primary;
            }
        }
        &:last-child {
            td {
                &:first-child {
                    border-bottom-left-radius:3px;
                }
                &:last-child {
                    border-bottom-right-radius:3px;
                }
            }
        }
    }
    td {
        background:#FFFFFF;
        text-align:left;
        vertical-align:middle;
        font-weight:300;
        font-size:1.08rem;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        &:last-child {
            border-right: 0px;
        }
    }
}

