body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
    background: $white;
}

body {
    overflow-y: hidden;
    padding-bottom: 100px;
}

.button, ::placeholder {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

span.info {
    display: block;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}

.fa-rotate-60 {
    transform: rotate(-60deg);
}