body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background: $white;
}

.button, ::placeholder {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}
  